.Filter {
    width: 80%;
    margin: 1rem auto;
    color: black;
    margin-top: -1rem;
}

.Filter_box {
    display: flex;
    justify-content: space-between;

}

.Filter_box_left_search {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgb(165, 163, 163);
    padding-inline: 1rem;
    background-color: azure;
}

.Filter_box_left_search input {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1rem;
    width: 20rem;
}

.Filter_box_right {
    display: flex;
    gap: 1rem;
}

.Filter_box_right button {
    background-color: azure;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;

}

.Filter_model {
    position: fixed;
    inset: 0 0 0 0;
    background-color: azure;
    z-index: 2222222222;
}

@media only screen and (max-width: 35em) {
    .Filter {
        width: 90%;
    }

    .Filter_box {
        flex-direction: column;
        gap: 1rem;
    }

    .Filter_box_left_search input {
        width: 100%
    }

    ;

    .Filter_model {
        position: absolute;
        inset: 0 0 -70% 0;
    }

    ;

    .Filter_box_right button {
        font-size: .5rem;
    }
}