@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #C7C7C7;
  background: linear-gradient(to right, #C7C7C7 0%, #D2D4D3 50%, #FFFFFF 100%);
  color: black;
}


::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main_box {
  min-height: 100vh;
}